{% extends "base2.html" %}

{% block content %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script>
  $(document).ready(function(){
    new DataTable($('#sort_sidx'), {
      order: [[0, 'asc']],
    });
    new DataTable($('#sort_sidx2'), {
      order: [[0, 'asc']],
      pageLength:5
    });
  })

</script>

<br>

<div class="site_body">
 <h3><b>{{author}}</b></h3>
  <br>
  <h4>Citations</h4>

  <table class='table is-striped' id="sort_sidx">
    <thead class="grey_table" >
      <tr>
        <th scope="col">TCP ID</th>
        <th scope="col">Index and Location of Segment</th>
        <th scope="col">Index of Citation in Segment</th>
        <th scope="col">Parsed Citation(s)</th>
        <th scope="col">Unparsable Citation(s)</th>
        <th scope="col">Original Phrase (lightly preprocessed)</th>
        <th scope="col">Text of Segment and Notes</th>
      </tr>
    </thead>
    <tbody>
      {% for c in citations%}
        <tr>
          <td>{{c.tcpID}}</td>
          <td>{{c.sidx}} <br> {{c.loc}}</td>
          <td>{{c.cidx}}</td>
          <td>{{c.citation}}</td>
          <td>{{c.outlier}}</td>
          <td>{{c.replaced}}</td>
          <td>
            <a href="{{ url_for('sermon.get_segment_and_notes',tcpID=c.tcpID,sidx=c.sidx) }}"><u><b>View</b></u></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="full_break">
    <img src="/static/images/border4.png"><img src="/static/images/border4.png"><img src="/static/images/border4.png">
  </div>  
  <br>
  <h4>Possible Quotations or Paraphrases</h4>
  <table class='table is-striped' id="sort_sidx2">
    <thead class="grey_table" >
      <tr>
        <th scope="col">TCP ID</th>
        <th scope="col">Index and Location of Segment</th>
        <th scope="col">Segment Text</th>
      </tr>
    </thead>
    <tbody>
      {% for q in qp_candidates %}
        <tr>
           <td>{{q.tcpID}}</td>
          <td>{{q.sidx}} <br> {{q.loc}}</td>
          <td>{{qp_segments[(q.tcpID,q.sidx,q.loc)]}}
            <br>
            <a href="{{ url_for('sermon.get_segment_and_notes',tcpID=q.tcpID,sidx=q.sidx) }}"><u><b>View Segment, Notes, and References</b></u></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</div>

{% endblock %}
