{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script>
  (function () {
	window.onpageshow = function(event) {
		if (event.persisted) {
			window.location.reload();
		}
	};
})();

  $(document).ready(function(){
    new DataTable($('#tcpIDs'), {
      order: [[1, 'desc']],
      pageLength:5
    });
  })
  $(document).ready(function(){
    new DataTable($('#authors'), {
      order: [[1, 'desc']],
      pageLength:5

    });
  })
  </script>
<script>
  function filterOptions() {
    var input, filter, select, option, i;
    input = document.getElementById('searchInput');
    filter = input.value.toUpperCase();
    select = document.getElementById('item');
    option = select.getElementsByTagName('option');

    // Loop through all options and hide those that don't match the search query
    for (i = 0; i < option.length; i++) {
        if (option[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
            option[i].style.display = '';
        } else {
            option[i].style.display = 'none';
        }
    }
}
</script>
<br>

<div class="site_body">
  <h3><b>Visualizations of Citations</b></h3>
  <form action="{{ url_for('index.visualize_citations') }}" method="POST">
    <input type="hidden" id="search" name="search" value="c">
    <label for="searchInput">Filter selection by typing a label here: </label>
    <input type="text" id="searchInput" onkeyup="filterOptions()" placeholder="Book, chapter, or verse">
    <label for="item">Then select from the options in the dropdown menu:</label>
  <select id="item" name="item" REQUIRED>
    <option value="" disabled selected></option>
    {% for v in books%}
    <option value="{{v}}">{{v}}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Visualize" class="btn-gray"> 
  </form>
  {% if book_data%}
  <div class="full_break">
    <img src="/static/images/border4.png"><img src="/static/images/border4.png"><img src="/static/images/border4.png">
  </div>
  <img src='data:image/png;base64,{{book_data}}' style="width: 100%;"/>
  <table class='table is-striped' id="tcpIDs">
    <thead class="grey_table" >
      <tr>
        <th scope="col">TCP ID</th>
        <th scope="col">Count of Citations of {{book}}</th>
        <th scope="col">Title</th>
        <th scope="col">Authors</th>
        <th scope="col">Publisher</th>
        <th scope="col">Publication Year</th>
        <th scope="col">Publication Place</th>
        <th scope="col">Subjects</th>
      </tr>
    </thead>
    <tbody>
      {% for tcpID in tcpIDs %}
      <tr>
          <td>{{tcpID}}
            <br>  
            <br>
              <a href="{{ url_for('sermon.full_text',tcpID=tcpID) }}"><u>View the Full Text of Relevant Sections</u></a>
              <br><br>
              <a href="{{ url_for('sermon.get_citations',tcpID=tcpID) }}"><u>View All References</u></a>          

          </td> 
          <td>{{tcpIDs[tcpID]}}</td>
          <td>
              {{metadata[tcpID].title}}
                        </td>
          <td>
              {{metadata[tcpID].authors}}
          </td>
          <td>{{metadata[tcpID].publisher}}</td>
          <td>{{metadata[tcpID].pubyear}}</td>
          <td>{{metadata[tcpID].pubplace}}</td>
          <td>{{metadata[tcpID].subject_headings}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <img src='data:image/png;base64,{{author_data}}' style="width: 100%;"/>
  <table class='table is-striped' id="authors">
    <thead class="grey_table" >
      <tr>
        <th scope="col">Author</th>
        <th scope="col">Count of Citations of {{book}}</th>
      </tr>
    </thead>
    <tbody>
      {% for aut in authors %}
      <tr>
          <td>
            <a href="{{ url_for('author.find_author_references',author=aut)}}"><u>{{aut}}</u></a>
          </td> 
          <td>{{authors[aut]}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <img src='data:image/png;base64,{{over_time}}' style="width: 100%;"/>
  {% endif %}

{% if not book %}
  <div class="full_break">
    <img src="/static/images/border4.png"><img src="/static/images/border4.png"><img src="/static/images/border4.png">
  </div>
</div>
<div class="site_body">
  <img src='data:image/png;base64,{{data0}}' style="width: 100%;"/>
  <img src='data:image/png;base64,{{data}}' style="width: 49.555%;"/>
  <img src='data:image/png;base64,{{data2}}' style="width: 49.555%;"/>
  <img src='data:image/png;base64,{{data3}}' style="width: 100%;"/>
</div>
{% endif %}

{% endblock %}
