{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
<script src="https://common.olemiss.edu/_js/datatables/media/js/jquery.js"></script>
<script src="https://common.olemiss.edu/_js/datatables/media/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/colreorder/1.10.0/js/dataTables.colReorder.min.js"></script>

<script>
  $(document).ready(function(){
    // initialize a DataTable sorted by the date column 
    // in reverse chronological order by default. Break ties alphabetically by name. 
    new DataTable('#sort_date', {
      order: [[4, 'asc'],[0,'asc']],
      "pageLength": 5,
      initComplete: function () {
        this.api()
            .columns()
            .every(function () {
                let column = this;
                let title = column.footer().textContent;
 
                let input = document.createElement('input');
                input.placeholder = title;
                column.footer().replaceChildren(input);
 
                input.addEventListener('keyup', () => {
                    if (column.search() !== this.value) {
                        column.search(input.value).draw();
                    }
                });
            });
        }
    });
    new DataTable('#no_sorting', {
      "ordering": false,
      "pageLength": 5,
      initComplete: function () {
        this.api()
            .columns()
            .every(function () {
                let column = this;
                let title = column.footer().textContent;
 
                let input = document.createElement('input');
                input.placeholder = title;
                column.footer().replaceChildren(input);
 
                input.addEventListener('keyup', () => {
                    if (column.search() !== this.value) {
                        column.search(input.value).draw();
                    }
                });
            });
        }
    });
  })
  
</script>
<div class="site_body">
  <!-- <div class="full_break">
    <img src="/static/images/border4.png"><img src="/static/images/border4.png"><img src="/static/images/border4.png">
  </div> -->
  <h5>Semantic Search Within Titles:</h5>
   <div class="input-wrapper"> 
      <form action="{{ url_for('index.index') }}" method="POST">
        <input type="text" name="search"/>
        <button type="submit"> 
            🔍 
        </button> 
      </form>
    </div> 
    <br><br>
    <h6>(Returns the top 20 results. Scroll to the bottom for lexical search on each column)</h6>
    <div class="full_break">
      <img src="/static/images/border4.png"><img src="/static/images/border4.png"><img src="/static/images/border4.png">
    </div>
    {% if search %}
    <h4>Search phrase: {{search}}</h4>
    {% endif %}

  {% if search %}
  <table class="table is-striped" id="no_sorting">
  {% else %}
  <table class='table is-striped' id="sort_date">
  {% endif %}
    <thead class="grey_table" >
      <tr>
        <th scope="col">Title & IDs</th>
        <th scope="col">Authors</th>
        <th scope="col">Publisher</th>
        <th scope="col">Publication Place</th>
        <th scope="col">Publication Year</th>
        <th scope="col">Subjects</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th scope="col">Title & IDs</th>
        <th scope="col">Authors</th>
        <th scope="col">Publisher</th>
        <th scope="col">Publication Place</th>
        <th scope="col">Publication Year</th>
        <th scope="col">Subjects</th>
      </tr>
  </tfoot>
     <tbody>
      {% for s in sermons%}
        <tr>
          <td>
            <a href="{{ url_for('sermon.get_citations',tcpID=s.tcpID) }}"><b>{{s.title}}</b></a>
            <br>--<br>
            TCP ID & Link: <a href="{{s.phase}}"><u>{{s.tcpID}}</u></a>
            <br>ESTC ID: {{s.estc}}
            <br>STC ID: {{s.stc}}
          </td>
          <td>
              {{s.authors}}
          </td>
          <td>{{s.publisher}}</td>
          <td>
            <a href="{{ url_for('author.find_pubplace_metadata',pubplace=pubplaces[s.tcpID])}}"><u>{{pubplaces[s.tcpID]}}</u></a>
          </td>
          <td>{{s.pubyear}}</td>
          <td>{{s.subject_headings | safe}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>



</div>


</div>

{% endblock %}
