{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script>
  $(document).ready(function(){
    new DataTable($('#sort_sidx'), {
      order: [[0, 'asc']],

    });
  })
  $(document).ready(function(){
    // initialize a DataTable sorted by the date column 
    // in reverse chronological order by default. Break ties alphabetically by name. 
    new DataTable($('#sort_similarity'), {
      order: [[4, 'desc']],

    });
  })
</script>

<br>

<div class="site_body">
  <!-- <img src="/static/images/border4.png"><img src="/static/images/border4.png"> -->

  <h4>Possible Citations</h4>

  <table class='table is-striped' id="sort_sidx">
    <thead class="grey_table" >
      <tr>
        <th scope="col">TCP ID</th>
        <th scope="col">Index of Segment</th>
        <th scope="col">Location</th>
        <th scope="col">Index of Citation in Segment</th>
        <th scope="col">Parsed Citation(s)</th>
        <th scope="col">Unparsable Citation(s)</th>
        <th scope="col">Original Phrase (lightly preprocessed)</th>
        <th scope="col">Text of Segment and Notes</th>
      </tr>
    </thead>
    <tbody>
      {% for c in citations%}
        <tr>
          <td>{{c.tcpID}}</td>
          <td>{{c.sidx}}</td>
          <td>{{c.loc}}</td>
          <td>{{c.cidx}}</td>
          <td>{{c.citation}}</td>
          <td>{{c.outlier}}</td>
          <td>{{c.replaced}}</td>
          <td>
            <a href="{{ url_for('sermon.get_segment_and_notes',tcpID=c.tcpID,sidx=c.sidx) }}"><u><b>View</b></u></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  
  <br>
  <h4>Possible Quotations or Paraphrases</h4>
  <table class='table is-striped' id="sort_similarity">
    <thead class="grey_table" >
      <tr>
        <th scope="col">Index of Segment and Location</th>
        <th scope="col">Verse of Bible</th>
        <th scope="col">Full Verse Text</th>
        <th scope="col">Subphrase of Verse</th>
        <th scope="col">Similarity Score</th>
        <th scope="col">Candidate Text</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
      {% for q in possible_qp %}
        <tr>
          <td>{{q.sidx}} <br> {{q.loc}}</td>
          <td>{{q.label}}</td>
          <td>{{q.full}}</td>
          <td>{{q.phrase}}</td>
          <td>{{q.score}}</td>
          <td>{{qp_segments[(q.tcpID,q.sidx,q.loc)]}}
            <br>
            <a href="{{ url_for('sermon.get_segment_and_notes',tcpID=q.tcpID,sidx=q.sidx) }}"><u><b>View Segment Information</b></u></a>
          </td>
          <td>
            <form action="{{ url_for('sermon.edit_citations',tcpID=q.tcpID, sidx=q.sidx, loc ='In-Text')}}" method="POST" >
                <input type="submit" value="Remove" class="btn-gray"/> 
               </form>    
          </td>   
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</div>

{% endblock %}
