{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script>
  
  $(document).ready(function(){
    new DataTable($('#sort_sidx'), {
      order: [[0, 'asc']],

    });
  })
  $(document).ready(function(){
    new DataTable($('#sort_tcpID'), {
      order: [[0, 'asc']],

    });
    new DataTable($('#sort_qp'), {
      order: [[0, 'asc']],

    });
  })
</script>
<script>
(function () {
	window.onpageshow = function(event) {
		if (event.persisted) {
			window.location.reload();
		}
	};
})();
function filterOptions3() {
    var input, filter, select, option, i;
    input = document.getElementById('searchInput3');
    filter = input.value.toUpperCase();
    select = document.getElementById('verse');
    option = select.getElementsByTagName('option');

    // Loop through all options and hide those that don't match the search query
    for (i = 0; i < option.length; i++) {
        if (option[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
            option[i].style.display = '';
        } else {
            option[i].style.display = 'none';
        }
    }
}
</script>
<script>
  function filterOptions2() {
      var input, filter, select, option, i;
      input = document.getElementById('searchInput2');
      filter = input.value.toUpperCase();
      select = document.getElementById('item');
      option = select.getElementsByTagName('option');
  
      // Loop through all options and hide those that don't match the search query
      for (i = 0; i < option.length; i++) {
          if (option[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
              option[i].style.display = '';
          } else {
              option[i].style.display = 'none';
          }
      }
  }
  </script>
<br>

<div class="site_body">
  <h3><b>Scriptural Index</b></h3>
  <form action="{{ url_for('sermon.get_all') }}" method="POST">
    <input type="hidden" id="search" name="search" value="c">
    <label for="searchInput2" >Filter citations by typing a label here: </label>
    <input type="text" id="searchInput2" onkeyup="filterOptions2()" placeholder="Book, chapter, or verse">
    <label for="item">Then select from the options in the dropdown menu:</label>
  <select id="item" name="item">
    <option value=""></option>
    {% for v in books%}
    <option value="{{v}}">{{v}}</option>
    {% endfor %}
  </select>
  <br>
  <label for="searchInput3">Filter possible quotes and paraphrases: </label>
  <input type="text" id="searchInput3" onkeyup="filterOptions3()" placeholder="Verse">
  <label for="verse">Then select from the options in the dropdown menu: </label>
  <select id="verse" name="verse">
      <option value=""></option>
      {% for v in verse_ids%}
      <option value="{{v[0]}}">{{v[0]}}</option>
      {% endfor %}
  </select>  
  <input type="submit" value="Search" class="btn-gray"> 
  </form>

  {% if citations %}
  <div class="full_break">
    <img src="/static/images/border4.png"><img src="/static/images/border4.png"><img src="/static/images/border4.png">
  </div>
  <br>
    <h4><b>Citations of {{book}}</b></h4>
    
  <h5><b>Variant spellings:</b> {{"; ".join(variants)}}</h5>
  <form action="{{ url_for('download.download') }}" method="POST">
    <input type="hidden" id="item" name="item" value={{book}}>
<input type="submit" value="Export" class="btn-gray"> 
</form>
  <p>The index of citation indicates its position within the text of the segment or a particular note of the segment.
    For example, if 'Note 0' (i.e., the first note) of this segment has three citations, the citation with index 0 is its first citation, 
    inclusive of all its parsed components. Each citation unit is a book and chapter. Hence, a phrase 
    'Ro. 1.3-5' in the text counts as a single citation with components "Romans 1.3; Romans 1.4; Romans 1.5."
    If the citation unit is preprocessed, then all of its punctuation besides commas and hyphens have been removed 
    and Roman numerals have been converted to integers. 
  </p>
  <p>To edit a citation, navigate to the page of its segment and notes by clicking the button in the rightmost column.</p>
  <table class='table is-striped' id="sort_sidx">
    <thead class="grey_table" >
      <tr>
        <th scope="col">TCP ID</th>
        <th scope="col">Index of Segment</th>
        <th scope="col">Location</th>
        <th scope="col">Index of Citation in Segment</th>
        <th scope="col">Parsed Citation(s)</th>
        <th scope="col">Unparsable Citation(s)</th>
        <th scope="col">Phrase</th>
        <th scope="col">Text of Segment and Notes</th>
      </tr>
    </thead>
    <tbody>
      {% for c in citations%}
        <tr>
          <td>{{c.tcpID}}</td>
          <td>{{c.sidx}}</td>
          <td>{{c.loc}}</td>
          <td>{{c.cidx}}</td>
          <td>{{c.citation}}</td>
          <td>{{c.outlier}}</td>
          <td>{{c.replaced}}</td>
          <td>
            <a href="{{ url_for('sermon.get_segment_and_notes',tcpID=c.tcpID,sidx=c.sidx) }}"><u><b>View</b></u></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
  
  {% if verse_id %}
  <div class="full_break">
    <img src="/static/images/border4.png"><img src="/static/images/border4.png"><img src="/static/images/border4.png">
  </div>
  <br>
  <h3>Quotations or Paraphrases of {{verse_id}}</h3>
  <h5><b>Full Verse:</b> &VeryThinSpace; {{verse_text}}</h5>
  
  <table class='table is-striped' id="sort_qp">
    <thead class="grey_table" >
      <tr>
        <th scope="col">TCP ID</th>
        <th scope="col">Index and Location of Segment</th>
        <th scope="col">Phrase of Segment</th>
        <th scope="col">Remove Reference</th>
      </tr>
    </thead>
    <tbody>
      {% for q in actual_qp %}
        <tr>
          <td>{{q[0]}}</td>
          <td>{{q[1]}}<br>{{q[2]}}
            <br>
            <a href="{{ url_for('sermon.get_segment_and_notes',tcpID=q[0],sidx=q[1]) }}"><u><b>View Segment, Notes, and References</b></u></a>
          </td>
          <td>{{q[5]}}</td>
          <td>
            <form action="{{ url_for('sermon.remove_actual_qp',tcpID=q[0], sidx=q[1], loc=q[2],verse_id=q[3])}}" method="POST" >
              <input type="hidden" id="page" name="page" value="segment">
              <input type="submit" value="Remove" class="btn-gray"/> 
             </form>   
          </td>  
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
{% endif %}
</div>

{% endblock %}
