{% extends "base2.html" %}

{% block content %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script>
    (function () {
	window.onpageshow = function(event) {
		if (event.persisted) {
			window.location.reload();
		}
	};
})();
  $(document).ready(function(){
    new DataTable($('#bible'), {
      order: [[0, 'asc']],
      pageLength: 5,
    });
    new DataTable($('#results'), {
      // order: [[0, 'asc']],
      pageLength: 5,
    });
    new DataTable($('#marginal'), {
      // order: [[0, 'asc']],
      pageLength: 5,
    });
    new DataTable($('#sort_qp'), {
      order: [[0, 'asc']],
      pageLength: 5,
    });
  })

function filterOptions3() {
    // Declare variables
    var input, filter, select, option, i;
    input = document.getElementById('searchInput3');
    filter = input.value.toUpperCase();
    select = document.getElementById('verse');
    option = select.getElementsByTagName('option');

    // Loop through all options and hide those that don't match the search query
    for (i = 0; i < option.length; i++) {
        if (option[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
            option[i].style.display = '';
        } else {
            option[i].style.display = 'none';
        }
    }
}
</script>

<div class="site_body">
    <h4><b>Search by specific phrase of verse</b></h4>
        <form action="{{ url_for('sermon.semantic_search') }}" method="POST">
        <label for="searchInput3">Filter verse selection by typing the label here: </label>
        <input type="text" id="searchInput3" onkeyup="filterOptions3()" placeholder="Search for a verse...">
        <br>
        <label for="collection">Select a collection: </label>
        <select id="collection" name="collection" REQUIRED>
            <option value="pre-Elizabethan">pre-Elizabethan</option>
        </select>
        <br>
        <label for="verse">Then select from the options in the dropdown menu: </label>
        <select id="verse" name="verse" REQUIRED>
            {% for v in verse_ids%}
            <option value="{{v[0]}}">{{v[0]}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit" class="btn-gray"> 
    </form>
    {% if verse_id %} 
    <div class="full_break">
      <img src="/static/images/border4.png"><img src="/static/images/border4.png"><img src="/static/images/border4.png">
    </div>   
     <h4>{{verse_id}}</h4>
    <h5><b>{{verse_text}}</b></h5>
    <!-- <table class='table is-striped' id="bible">
        <thead class="grey_table" >
          <tr>
            <th scope="col">Subphrase of Verse (lemmatized)</th>   
            <th scope="col"></th>   
            <th scope="col"></th> 
          </tr>
        </thead>
        <tbody>
          {% for p in phrases %}
          <tr>
              <td>{{p[0]}}</td>
              <td>
                <form action="{{ url_for('sermon.semantic_search_verse')}}" method="POST" >
                    <input type="hidden" id="verse_id" name="verse_id" value="{{verse_id}}">
                    <input type="hidden" id="phrase" name="phrase" value="{{p[0]}}">
                    <label for="collection">Select a collection: </label>
                    <select id="collection" name="collection" REQUIRED>
                        <option value="pre-Elizabethan">pre-Elizabethan</option>
                        <option value="Elizabethan">Elizabethan</option>
                        <option value="Jacobean">Jacobean</option>
                    </select>
                    <br>
                    <label for="k">Number of desired in-text results: </label>
                    <input type="number" name="k" value="20" REQUIRED>
                    <br>
                    <label for="m_k">Number of desired marginal results: </label>
                    <input type="number" name="m_k" value="10" REQUIRED>
                    <br>
                    <input type="submit" value="Search" class="btn-gray"/> 
                   </form>
                </td>
                <td><form action="{{ url_for('sermon.remove_bible_phrase',vidx=vindices[p[1]])}}" method="POST" >
                  <input type="hidden" id="page" name="page" value="search">
                  <input type="hidden" id="verse" name="verse_id" value="{{verse_id}}">
                  <input type="submit" value="Remove" class="btn-gray"/> 
                 </form>  
                </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </form> -->
    <br>
    <h6><b>Search by the entirety or a part of the tokenized and lemmatized text of {{verse_id}}</b></h6>
    <h6>{{lemmatized}}</h6>
    <form action="{{ url_for('sermon.semantic_search_verse') }}" method="POST" class="my_button">
        <textarea id="phrase" name="phrase" rows="2" cols="10"></textarea>
        <input type="hidden" id="verse_id" name="verse_id" value="{{verse_id}}">
        <br>
        <label for="collection">Select a collection: </label>
        <select id="collection" name="collection" REQUIRED>
            <option value="pre-Elizabethan">pre-Elizabethan</option>
        </select>
       <br>
       <label for="k">Number of desired in-text results: </label>
        <input type="number" name="k" value="20" REQUIRED>
        <br>
        <label for="m_k">Number of desired marginal results: </label>
        <input type="number" name="m_k" value="10" REQUIRED>
        <br>
       <input type="submit" value="Submit" class="btn-gray"> 
       </form>

  <br>
  <h5>Actual Quotations or Paraphrases</h5>
  <table class='table is-striped' id="sort_qp">
    <thead class="grey_table" >
      <tr>
        <th scope="col">TCP ID</th>
        <th scope="col">Index and Location of Segment</th>
        <th scope="col">Phrase of Segment</th>
        <th scope="col">Remove Reference</th>
      </tr>
    </thead>
    <tbody>
      {% for q in actual_qp %}
        <tr>
          <td>{{q[0]}}</td>
          <td>{{q[1]}}<br>{{q[2]}}</td>
          <td>{{q[4]}}
            <br>
            <a href="{{ url_for('sermon.get_segment_and_notes',tcpID=q[0],sidx=q[1]) }}"><u><b>View Segment, Notes, and References</b></u></a>
          </td>
          <td>
            <form action="{{ url_for('sermon.remove_actual_qp',tcpID=q[0], sidx=q[1], loc=q[2],verse_id = verse_id)}}" method="POST" >
              <input type="hidden" id="page" name="page" value="search">
              <input type="submit" value="Remove" class="btn-gray"/> 
             </form>   
          </td>  
        </tr>
      {% endfor %}
    </tbody>
  </table>

      {% endif %}


    <br><br>
    {% if results %}
    <div class="full_break">
      <img src="/static/images/border4.png"><img src="/static/images/border4.png"><img src="/static/images/border4.png">
    </div>   
    <h4><b>Search phrase:</b> &VeryThinSpace; {{phrase}}</h4>
    <h5>In-Text Search Results</h5>
    <table class='table is-striped' id="results">
      <thead class="grey_table" >
        <tr>
          <th scope="col">TCP ID</th>
          <th scope="col">Index and Location of Covering Segment</th> 
          <th scope="col">Search results (lemmatized sub-phrases of segments)</th>  
          <th scope="col"></th>   
        </tr>
      </thead>
      <tbody>
        {% for result in results %}
        <tr>
            <td>{{result[1]}}</td>
            <td>{{result[2]}}<br>{{result[3]}}</td>
            <td>{{result[0]}}
                <br>
                <a href="{{ url_for('sermon.get_segment_and_notes',tcpID=result[1],sidx=result[2]) }}"><u><b>View Segment Information</b></u></a>
            </td>
            <td>
              <form action="{{ url_for('sermon.add_qp',tcpID=result[1],sidx=result[2],loc=result[3],verse_id=verse_id)}}" method="POST" >
                  <input type="hidden" id="verse_id" name="verse_id" value="{{verse_id}}">
                  <input type="hidden" id="page" name="page" value = "search">
                  <label for="phrase">Phrase of Text</label>
                  <input type="text" id="phrase" name="phrase">
                  <input type="submit" value="Add As Reference" class="btn-gray"/> 
                 </form>
              </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% endif %}

    {% if marginal_results %}
    <br>
    <h5>Marginal Search Results</h5>
    <table class='table is-striped' id="marginal">
      <thead class="grey_table" >
        <tr>
          <th scope="col">TCP ID</th>
          <th scope="col">Index of Covering Segment</th> 
          <th scope="col">Search results (lemmatized sub-phrases of notes)</th>  
          <th scope="col"></th>   
        </tr>
      </thead>
      <tbody>
        {% for result in marginal_results %}
        <tr>
            <td>{{result[1]}}</td>
            <td>{{result[2]}}<br>{{result[3]}}</td>
            <td>{{result[0]}}
                <br>
                <a href="{{ url_for('sermon.get_segment_and_notes',tcpID=result[1],sidx=result[2]) }}"><u><b>View Segment Information</b></u></a>
            </td>
            <td>
              <form action="{{ url_for('sermon.add_qp',tcpID=result[1],sidx=result[2],loc=result[3],verse_id=verse_id)}}" method="POST" >
                <input type="hidden" id="verse_id" name="verse_id" value="{{verse_id}}">
                <input type="hidden" id="page" name="page" value="search">
                <label for="phrase">Phrase of Text</label>
                <input type="text" id="phrase" name="phrase">
                <input type="submit" value="Add As Reference" class="btn-gray"/> 
               </form>
              </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% endif %}
</div>


{% endblock %}
