{% extends "base2.html" %}

{% block content %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script>
  (function () {
	window.onpageshow = function(event) {
		if (event.persisted) {
			window.location.reload();
		}
	};
})();

  $(document).ready(function(){
      new DataTable($('#sort_sidx'), {
      order: [[0, 'asc']],

    });
    new DataTable($('#sort_sim'), {
      order: [[4, 'desc']],

    });
    new DataTable($('#sort_qp'), {
      order: [[0, 'asc']],
      pageLength:5
    });
    new DataTable($('#unsorted'), {
      // order: [[0, 'asc']],
      pageLength:5
    });
  })
</script>

<br>
<div class="site_body">
  <h4><i>{{metadata[0].title}}</i></h4>
  <h5>
    {% for aut in unique_aut %}
    <a href="{{ url_for('author.find_author_references',author=aut[0])}}"><u>{{aut[0]}}</u></a>
    <br>
    {% endfor %}
    
  </h5>
  <h6><b>Publisher:</b> {{metadata[0].publisher}}</h6>
  <h6><b>Place of Publication:</b> {{metadata[0].pubplace}}</h6>
  <h6><b>Publication Year:</b> {{metadata[0].pubyear}}</h6>
  <h6><b>TCP ID:</b> {{metadata[0].tcpID}} <b>ESTC ID:</b> {{metadata[0].estc}} <b>STC ID:</b> {{metadata[0].stc}}</h6>
  <h6><b>Subject Headings:</b> {{metadata[0].subject_headings}}</h6>
  <h6>   
     <a href="{{ url_for('sermon.full_text',tcpID=metadata[0].tcpID) }}"><u>View Full Text</u></a>
     &VeryThinSpace;
     <a href="{{ url_for('sermon.get_citations',tcpID=metadata[0].tcpID) }}"><u>View All References</u></a>
    </h6>  
    <div class="full_break">
      <img src="/static/images/border4.png"><img src="/static/images/border4.png"><img src="/static/images/border4.png">
    </div>  
  <br>
  <h4>Segment {{sidx}} located on {{loc_type.lower().capitalize()}} {{pagenum}}</h4>
  <table class='table is-striped' id="sort_sidx">
    <thead class="grey_table" >
      <tr>
        <th scope="col">Location</th>
        <th scope="col">Text (tokenized)</th>

      </tr>
    </thead>
    <tbody>
      {% for s in segment %}
      <tr>
          <td>{{s[2]}}</td> 
          <td>{{s[0]}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <h3>Actual Quotations or Paraphrases</h3>
  <table class='table is-striped' id="sort_qp">
    <thead class="grey_table" >
      <tr>
        <th scope="col">Location in Segment</th>
        <th scope="col">Verse of Bible</th>
        <th scope="col">Full Verse Text</th>
        <th scope="col">Remove Reference</th>
      </tr>
    </thead>
    <tbody>
      {% for q in actual_qp %}
        <tr>
          <td>{{q[2]}}</td>
          <td>{{q[3]}}
            <br>
              <a href="{{ url_for('sermon.semantic_search_verse_get',verse_id=q[3]) }}"><u>Search for Verse</u></a>
          </td>
          <td>{{q[4]}}</td>
          <td>
            <form action="{{ url_for('sermon.remove_actual_qp',tcpID=tcpID, sidx=sidx, loc=q[2],verse_id=q[3])}}" method="POST" >
              <input type="hidden" id="page" name="page" value="segment">
              <input type="submit" value="Remove" class="btn-gray"/> 
             </form>   
          </td>  
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="full_break">
    <img src="/static/images/border4.png"><img src="/static/images/border4.png"><img src="/static/images/border4.png">
  </div>
  <h3>Possible Quotations or Paraphrases</h3>
  <form action="{{ url_for('sermon.search_in_bible',tcpID=tcpID,sidx=sidx) }}" method="POST" class="my_button">
    <label for="phrase"><b>Search within the Bible (for better results, use short phrases of the lemmatized text): </b></label>
    <p>{{segment[0][1]}}</p>
    <br>
    <textarea id="phrase" name="phrase" rows="2" cols="10"></textarea>
    <input type="hidden" id="page" name="page" value="segment">
   <br>
   <label for="loc">Location of phrase: </label>
    <select id="loc" name="loc" REQUIRED>
      {% for v in locations%}
      <option value="{{v}}">{{v}}</option>
      {% endfor %}
    </select>
    <br>
   <label for="collection">Select a version: </label>
        <select id="version" name="version" REQUIRED>
            <option value="King James Version">King James Version</option>
        </select>
       <br>
   <label for="k">Number of desired results: </label>
    <input type="number" name="k" value="20" REQUIRED>
    <br>
   <input type="submit" value="Submit" class="btn-gray"> 
   </form>
   <br>
   <h4><b>Search phrase:</b> &VeryThinSpace; {{phrase}}</h4>
  <table class='table is-striped' id="unsorted">
    <thead class="grey_table" >
      <tr>
        <th scope="col">Location in Segment</th>
        <th scope="col">Verse of Bible</th>
        <th scope="col">Full Verse Text</th>
        <th scope="col">Add As Actual Reference</th>
      </tr>
    </thead>
    <tbody>
      {% for q in qp_candidates %}
        <tr>
          <td>{{q[0]}}</td>
          <td>{{q[1]}}
            <br>
              <a href="{{ url_for('sermon.semantic_search_verse_get',verse_id=q[1]) }}"><u>Search for Verse</u></a>
          </td>
          <td>{{q[2]}}</td>
          <td> 
            <form action="{{ url_for('sermon.add_qp',tcpID=tcpID, sidx=sidx, verse_id=q[1],loc=q[0])}}" method="POST" >
              <input type="hidden" id="page" name="page" value="search_bible">
              <input type="hidden" id="phrase" name="phrase" value="{{phrase}}">
              <input type="submit" value="Add As Reference" class="btn-gray"/> 
             </form> 
          </td> 
        </tr>
      {% endfor %}
    </tbody>
  </table>
      
</div>

</div>

{% endblock %}
