{% extends "base2.html" %}

{% block content %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script>
    (function () {
	window.onpageshow = function(event) {
		if (event.persisted) {
			window.location.reload();
		}
	};
})();
  $(document).ready(function(){
    new DataTable($('#bible'), {
      order: [[3, 'desc']],
      pageLength: 10,
    });
    new DataTable($('#results'), {
      // order: [[0, 'asc']],
      pageLength: 10,
    });
    new DataTable($('#marginal'), {
      order: [[4, 'desc']],
      pageLength: 10,
    });
    new DataTable($('#sort_qp'), {
      order: [[0, 'asc']],
      pageLength: 10,
    });
  })

function filterOptions3() {
    // Declare variables
    var input, filter, select, option, i;
    input = document.getElementById('searchInput3');
    filter = input.value.toUpperCase();
    select = document.getElementById('verse');
    option = select.getElementsByTagName('option');

    // Loop through all options and hide those that don't match the search query
    for (i = 0; i < option.length; i++) {
        if (option[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
            option[i].style.display = '';
        } else {
            option[i].style.display = 'none';
        }
    }
}
</script>

<div class="site_body">
    <!-- <h4><b>Search for a specific verse</b></h4>
        <form action="{{ url_for('sermon.semantic_search') }}" method="POST">
        <label for="searchInput3">Type a label here: </label>
        <input type="text" id="searchInput3" onkeyup="filterOptions3()" placeholder="1 Chronicles 1.1">
        <input type="hidden" id="page" name="page" value="verse">
        <label for="verse">Select </label>
        <select id="verse" name="verse" REQUIRED>
            {% for v in verse_ids%}
            <option value="{{v[0]}}">{{v}}</option>
            {% endfor %}
        </select>  -->
        <!-- <label for="loc">Location: </label>
        <select id="loc" name="loc" REQUIRED>
          <option value="All">All</option>
          <option value="In-Text">In-Text</option>
          <option value="Marginal">Marginal</option>
        </select> -->
        <!-- <label for="k">Number of results: </label>
        <input type="number" name="k" step="1" value="10" style="width: 50px;"REQUIRED>       
        <button type="submit" style="border: none; background-color: transparent;"> 
          🔍 
        </button>
    </form> -->
    <!-- <br> -->
    <h4><b>Search for a term or phrase: </b></h4>

    <div class="input-wrapper"> 
      <form action="{{ url_for('sermon.semantic_search') }}" method="POST">
      <input type="hidden" id="page" name="page" value="phrase">
      <label for="category">Category: </label>
        <select id="category" name="category" REQUIRED>
          <option value="Marginal">Marginalia</option>
          <option value="Bibles">Bibles</option>
        </select>
      <label for="k" >Number of results: </label>
        <select id="k" name="k" REQUIRED>
          <option value="10">10</option>
          <option value="20">25</option>
          <option value="50">50</option>
          <option value="75">75</option>
          <option value="100">100</option>
        </select>
        <!-- <br> -->
        <input type="text" name="phrase"/>
        <button type="submit"> 
            🔍 
        </button> 
      </form>
    </div>
    
    <div class="full_break">
      <img src="/static/images/border4.png"><img src="/static/images/border4.png"><img src="/static/images/border4.png">
    </div> 
    

    {% if text_results %}

    <h4><b>Search phrase:</b> &VeryThinSpace; {{phrase}}</h4>
    <h5>In-Text Search Results</h5>
    <table class='table is-striped' id="results">
      <thead class="grey_table" >
        <tr>
          <th scope="col">TCP ID</th>
          <th scope="col">Index of Covering Segment</th> 
          <th scope="col">Location within Segment</th> 
          <th scope="col">Text</th>  
          {% if current_user.is_authenticated %}
          <th scope="col"></th>   
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for result in text_results %}
        <tr>
            <td>
              <a href="{{ url_for('sermon.get_citations',tcpID=result['tcpID']) }}"><b> {{result['tcpID']}}</b></a>
            </td>
            <td>{{result['sidx']}}
              <br>
              <a href="{{ url_for('sermon.get_segment_and_notes',tcpID=result[1],sidx=result[2]) }}"><u><b>View Segment Information</b></u></a>
            </td>
            <td>{{result['text']}}
                <br>
                </td>
            {% if current_user.is_authenticated %}
            <td>
              <form action="{{ url_for('sermon.add_qp',tcpID=result[1],sidx=result[2],loc=result[3],verse_id=verse_id)}}" method="POST" >
                  <input type="hidden" id="verse_id" name="verse_id" value="verse_id">
                  <input type="hidden" id="page" name="page" value = "search">
                  <label for="phrase">Phrase of Text</label>
                  <input type="text" id="phrase" name="phrase">
                  <button type="submit" style="border: none; background-color: transparent;">
                    <img src="{{ url_for('static', filename='images/manicule double.png') }}" style="width: 100px; height: auto;">
                  </button>
              </form>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% endif %}

    {% if m_results %}
    <h4><b>Search phrase:</b> &VeryThinSpace; {{phrase}}</h4>
    <h5>Marginal Search Results</h5>
    <table class='table is-striped' id="marginal">
      <thead class="grey_table" >
        <tr>
          <th scope="col">TCP ID</th>
          <th scope="col">Index of Covering Segment</th>
          <th scope="col">Location within Segment</th> 
          <th scope="col">Text</th> 
          <th scope="col">Cosine Similarity</th>  
          {% if current_user.is_authenticated %}
          <th scope="col"></th>   
          {% endif %}  
        </tr>
      </thead>
      <tbody>
        {% for result in m_results %}
        <tr>
            <td>
              <a href="{{ url_for('sermon.get_citations',tcpID=result['tcpID']) }}"><b> {{result['tcpID']}}</b></a>
            </td>
            <td>{{result['sidx']}}</td>
            <td> 
              <a href="{{ url_for('sermon.get_segment_and_notes',tcpID=result['tcpID'],sidx=result['sidx']) }}"><b>{{result['loc']}}</b></a>
            </td>
            <td>{{result['text'][0] | safe}}
            </td>
            <td>{{result['score']}}</td>
            {% if current_user.is_authenticated %}
            <td></td> 
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% endif %}

    {% if qp_candidates %}
<br>
<h4><b>Search phrase:</b> &VeryThinSpace; {{phrase}}</h4>
<br>
<table class='table is-striped' id="bible">
  <thead class="grey_table" >
    <tr>
      <th scope="col">Verse & Version</th>
      <th scope="col">Verse Text</th>
      <th scope="col">Scope of Verse</th>
      <th scope="col">Cosine Similarity</th>
    </tr>
  </thead>
  <tbody>
    {% for q in qp_candidates %}
      <tr>
        <td>{{q["verse_id"]}}
          <!-- <br>
            <a href="{{ url_for('sermon.semantic_search_verse_get',verse_id=q.verse_id)}}"><u><b>Search for Verse</b></u></a> -->
        </td>
        <td>{{q["verse_text"]}}</td>
        <td>{{q["scope"]}}</td>
        <td>{{q["score"]}}</td>
        
      </tr>
    {% endfor %}
  </tbody>
</table>
<br>
{% endif %}
</div>


{% endblock %}
