{% extends "base2.html" %}

{% block content %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script>
  $(document).ready(function(){
      new DataTable($('#sort_sidx'), {
      order: [[2, 'asc']],

    });
    new DataTable($('#sort_sim'), {
      order: [[4, 'desc']],

    });
  })
</script>

<br>
<div class="site_body">
  <h4><i>{{metadata[0].title}}</i></h4>
  <h5>
    {% for aut in unique_aut %}
    <a href="{{ url_for('author.find_author_references',author=aut[0],tcpID=metadata[0].tcpID)}}"><u>{{aut[0]}}</u></a>
    <br>
    {% endfor %}
    
  </h5>
  <h6><b>Publisher:</b> {{metadata[0].publisher}}</h6>
  <h6><b>Place of Publication:</b> {{metadata[0].pubplace}}</h6>
  <h6><b>Publication Year:</b> {{metadata[0].pubyear}}</h6>
  <h6><b>TCP ID:</b> {{metadata[0].tcpID}} <b>ESTC ID:</b> {{metadata[0].estc}} <b>STC ID:</b> {{metadata[0].stc}}</h6>
  <h6>   
     <a href="{{ url_for('sermon.full_text',tcpID=metadata[0].tcpID) }}"><u>View Full Text</u></a>
     &VeryThinSpace;
     <a href="{{ url_for('sermon.get_citations',tcpID=metadata[0].tcpID) }}"><u>View All References</u></a>
    </h6>  
    <div class="full_break">
      <img src="/static/images/border4.png"><img src="/static/images/border4.png"><img src="/static/images/border4.png">
    </div>  
  <br>
  <h4>Segment {{sidx}} located on {{loc_type.lower().capitalize()}} {{loc}}</h4>
  <table class='table is-striped' id="sort_sidx">
    <thead class="grey_table" >
      <tr>
        <th scope="col">Text (tokenized)</th>
        <th scope="col">Text (lemmatized)</th>
        <th scope="col">Location</th>

      </tr>
    </thead>
    <tbody>
      {% for s in segment %}
      <tr>
          <td>{{s[0]}}</td> 
          <td>{{s[1]}}</td>
          <td>{{s[2]}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="full_break">
    <img src="/static/images/border4.png"><img src="/static/images/border4.png"><img src="/static/images/border4.png">
  </div>
    <h4>Possible Citations </h4>
    <h5><a href="{{ url_for('sermon.edit_citations',tcpID=tcpID,sidx=sidx,loc='In-Text') }}"><u><b>Add</b></u></a>  
    </h5>
    <table class='table is-striped' id="">
      <thead class="grey_table" >
        <tr>
          <th scope="col">Location</th>
          <th scope="col">Original Phrase (slightly preprocessed)</th>
          <th scope="col">Parsed Citations </th>
          {% if t_outlier %}
          <th scope="col">Unparsable Citations</th>
          {% endif %}
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for c in citations%}
          <tr>
            <td>{{c[-1]}}</td>
            <td>{{c[1]}} <br>
            <td>{{c[0]}} <br>
            </td>   
            {% if t_outlier %}
                <td>{{"; ".join(c_dict['t_outlier'][0])}}</td> 
            {% endif %}
            <td>              
              <a href="{{ url_for('sermon.edit_citations',tcpID=tcpID,sidx=sidx,loc='In-Text') }}"><u><b>Edit</b></u></a>  
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  <br>
  
  <br>
  <h4>Possible Quotations or Paraphrases</h4>
  <h5><a href="{{ url_for('sermon.edit_citations',tcpID=tcpID,sidx=sidx,loc='In-Text') }}"><u><b>Add</b></u></a> </h5> 
  <table class='table is-striped' id="sort_sim">
    <thead class="grey_table" >
      <tr>
        <th scope="col">Location in Segment</th>
        <th scope="col">Verse of Bible</th>
        <th scope="col">Full Verse Text</th>
        <th scope="col">Subphrase of Verse (lemmatized)</th>
        <th scope="col">Similarity Score</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for q in qp_candidates %}
        <tr>
          <td>{{q[0]}}</td>
          <td>{{q[1]}}</td>
          <td>{{q[2]}}</td>
          <td>{{q[3]}}</td>
          <td>{{q[4]}}</td>
          <td>
            <form action="{{ url_for('sermon.remove_qp',tcpID=tcpID, sidx=sidx, vidx=q[5])}}" method="POST" >
              <input type="hidden" id="page" name="page" value="segment">
              <input type="submit" value="Remove" class="btn-gray"/> 
             </form>   
          </td>   
        </tr>
      {% endfor %}
    </tbody>
  </table>
      
</div>

</div>

{% endblock %}
