{% extends "base2.html" %}

{% block content %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script>
  (function () {
	window.onpageshow = function(event) {
		if (event.persisted) {
			window.location.reload();
		}
	};
})();

  $(document).ready(function(){
      new DataTable($('#sort_sidx'), {
      order: [[0, 'asc']],

    });
    new DataTable($('#sort_sim'), {
      order: [[3, 'desc']],
      pageLength: 10

    });
    new DataTable($('#sort_qp'), {
      order: [[0, 'asc']],

    });
    new DataTable($('#sort_citation'), {
      order: [[0, 'asc']],

    });
  })
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
            const requestMethod = "{{ method }}";  // This is passed from Flask
            if (requestMethod === "POST") {
                $('html, body').animate({
                    scrollTop: $("#search_results").offset().top
                }, 1000);
            }
        });
    </script>
<br>
<div class="site_body">
  <h4><i>{{metadata[0].title}}</i></h4>
  <h5>
    {% for aut in unique_aut %}
    <a href="{{ url_for('author.find_author_references',author=aut[0])}}"><u>{{aut[0]}}</u></a>
    <br>
    {% endfor %}
    
  </h5>
  <h6><b>Publisher:</b> {{metadata[0].publisher}}</h6>
  <h6><b>Place of Publication:</b> {{metadata[0].pubplace}}</h6>
  <h6><b>Publication Year:</b> {{metadata[0].pubyear}}</h6>
  <h6><b>TCP ID:</b> <a href="{{metadata[0].phase}}"><u>{{metadata[0].tcpID}}</u></a> <b>ESTC ID:</b> {{metadata[0].estc}} <b>STC ID:</b> {{metadata[0].stc}}</h6>
  <h6><b>Subject Headings:</b> {{metadata[0].subject_headings}}</h6>
  <h6>   
     <a href="{{ url_for('sermon.full_text',tcpID=metadata[0].tcpID) }}"><u>View the Full Text of Relevant Sections</u></a>
     &ThickSpace;
     <a href="{{ url_for('sermon.get_citations',tcpID=metadata[0].tcpID) }}"><u>View All References</u></a>
    </h6>  
    <br>
    <!-- <h5>Likeliest Bible Version: {{biblever}}</h5> -->

<div class="full_break">
  <img src="/static/images/border4.png"><img src="/static/images/border4.png"><img src="/static/images/border4.png">
</div>  

  <br>
  <h4>Segment {{sidx}} located on {{loc_type.lower().capitalize()}} {{loc}}</h4>
  {% if sidx > 0 %}
  <a href="{{ url_for('sermon.get_segment_and_notes',tcpID=tcpID,sidx=sidx-1) }}">
    <button type="submit" style="border: none; background-color: transparent;">
      <img src="{{ url_for('static', filename='images/left manicule.png') }}" style="width: 20px; height: 20px; opacity: 70%;">
  </button>
  <u>Previous Segment </u>

  </a>
  &ThickSpace;  &ThickSpace;
  {% endif %}
  {% if nextsegment > 0 %}
  <a href="{{ url_for('sermon.get_segment_and_notes',tcpID=tcpID,sidx=sidx+1) }}">
    <u>Next Segment</u>
    <button type="submit" style="border: none; background-color: transparent; opacity: 70%;">
      <img src="{{ url_for('static', filename='images/right manicule.png') }}" style="width: 20px; height: 20px;">
  </button>
  </a>
  {% endif %}
  <br><br>
  <table class='table is-striped' id="sort_sidx">
    <thead class="grey_table" >
      <tr>
        <th scope="col">Location</th>
        <th scope="col">Text</th>

      </tr>
    </thead>
    <tbody>
      {% for s in segment %}
      <tr>
          <td>{{s[2]}}</td> 
          <td>{{s[0] | safe}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="full_break">
    <img src="/static/images/border4.png"><img src="/static/images/border4.png"><img src="/static/images/border4.png">
  </div>
  <br>
  <h3>Citations
    <div class="info-circle"> i
      <div class="tooltip">
        The index of citation indicates its position within the text of the segment or a particular note of the segment.
          For example, if 'Note 0' (i.e., the first note) of this segment has three citations, the citation with index 0 is its first citation, 
          inclusive of all its parsed components. 
        </div>
    </div>  
  </h3>
  {% if current_user.is_authenticated %}
  <p style="margin-left: 0px; margin-right:0px;">
    To edit a parsed citation, please follow the standard format of a period between chapter and verse, 
    semi-colons to separate components, and no extra spaces. For consecutive citations, use a hyphen between verses,
    such as '1 Chronicles 26.1-16'.
    If the citation index requires an update, 
    the indices of the other citations within the body text or particular note must first be shifted to ensure 
    that each index is unique for each location. To only update a citation's index, leave the first text box blank.
  </p>
  {% endif %}

  <table class='table is-striped' id="sort_citation">
      <thead class="grey_table" >
        <tr>
          <th scope="col">Location</th>
          <th scope="col">Index of Citation</th>
          <th scope="col">Phrase</th>
          <th scope="col">Parsed Citations </th>
          {% if current_user.is_authenticated %}
          <th scope="col">Modify</th>
          <th scope="col"></th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for c in citations%}
          <tr>
            <td>{{c[2]}}</td>
            <td>{{c[3]}}</td>
            <td>{{c[1]}} <br></td> 
            <td>{{c[0]}} <br></td>   
            {% if current_user.is_authenticated %}
            <td>
              <form action="{{ url_for('sermon.edit_citation',tcpID=tcpID,sidx=sidx,loc=c[2])}}" method="POST" >
                <input type="hidden" id="orig_cidx" name="orig_cidx" value="{{c[3]}}">
                <label for="text">Edited Citation: </label>
                <br>
                <input type="text" id="new_citation" name="new_citation">
                <br>
                <label for="text">Edited Phrase: </label>
                <br>
                <input type="text" id="new_phrase" name="new_phrase">
                <br>
                <label for="cidx">Index Within Text or Note: </label>
                <br>
                <input type="number" id="cidx" name="cidx" min="0" value="{{c[3]}}">
                <input type="submit" value="Submit" class="btn-gray"/> 
               </form> 
            </td>
            <td>              
              <form action="{{ url_for('sermon.remove_citation',tcpID=tcpID,sidx=sidx,loc=c[2],cidx=c[3])}}" method="POST" >
                <input type="submit" value="Remove" class="btn-gray"/> 
               </form>   
            </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>


    {% if current_user.is_authenticated %}
    <form action="{{ url_for('sermon.edit_version',tcpID=tcpID)}}" method="POST" >
      <input type="hidden" id="sidx" name="sidx" value="{{sidx}}">
      <label for="ver"><h5><b>Edit Version of Bible:</b> </h5></label>
       &VeryThinSpace;
        <select id="ver" name="ver" REQUIRED>
          <option value="" disabled selected></option>
          <option value="KJV">KJV</option>
          <option value="Geneva">Geneva</option>
          <option value="Douay-Rheims">Douay-Rheims</option>
          <option value="Vulgate">Vulgate</option>
          <option value="Wycliffe">Wycliffe</option>
          <option value="Tyndale">Tyndale</option>
      </select>
      <input type="submit" value="Submit" class="btn-gray"/>
    </form>

    <h5><b>Add New Citation:</b> </h5>
   
    <form action="{{ url_for('sermon.add_citation',tcpID=tcpID,sidx=sidx)}}" method="POST" >
          <label for="loc">Location of new citation: </label>
          <select id="loc" name="loc" REQUIRED>
            {% for v in locations%}
            <option value="{{v}}">{{v}}</option>
            {% endfor %}
        </select>
        &VeryThinSpace;
        <label for="cidx">Index of new citation: </label>
        <input type="number" id="cidx" name="cidx" cols="2" REQUIRED>
        <br>
        <label for="orig">Phrase: </label>
          <input type="text" id="orig" name="orig" REQUIRED>
          <br>
          <label for="parsed">Parsed Citation: </label>
          <input type="text" id="parsed" name="parsed" REQUIRED>
          <input type="submit" value="Submit" class="btn-gray"/> 
          
        </form> 
    {% endif %}
  <br>

  <div class="full_break">
    <img src="/static/images/border4.png"><img src="/static/images/border4.png"><img src="/static/images/border4.png">
  </div>  
  <br>
  <h3>Quotations or Paraphrases</h3>
  <h5><b>Proximal Paraphrases</b> (within a window of four segments):<br></h5>
  <h6>* {{proximal | safe}} </h6> 
  <h5><b>Scopes:</b> 1 (Complete Segment, Complete Verse), 2 (Complete Segment, Partial Verse), 3 (Partial Verse, Complete Segment), 4 (Partial Segment, Partial Verse)</h5>

  <table class='table is-striped' id="sort_qp">
    <thead class="grey_table" >
      <tr>
        <th scope="col">Index of Phrase</th>
        <th scope="col">Location of Phrase</th>
        <th scope="col">Verse & Version</th>
        <th scope="col">Full Verse Text</th>
        <th scope="col">Phrase of Segment</th>
        <!-- <th scope="col">Score</th> -->
        <th scope="col">Scope</th>
        <th scope="col">Remove Reference</th>
      </tr>
    </thead>
    <tbody>
      {% for q in actual_qp %}
        <tr>
          <td>{{q.sidx}}</td>
          <td>{{q.loc}}</td>
          <td>{{q.verse_id}}
            <!-- <br>
              <a href="{{ url_for('sermon.semantic_search_verse_get',verse_id=q.verse_id) }}"><u><b>Search for Verse</b></u></a> -->
          </td>
          <td>{{q.verse_text}}</td>
          <td>{{q.phrase | safe}}</td>
          <!-- <td>{{q.score | safe}}</td> -->
          <td>{{q.scope | safe}}</td>
          <td>
            <form action="{{ url_for('sermon.remove_actual_qp',tcpID=q.tcpID, sidx=q.sidx, loc=q.loc,verse_id=q.verse_id)}}" method="POST" >
              <input type="hidden" id="page" name="page" value="segment">
              <input type="submit" value="Remove" class="btn-gray"/> 
             </form>   
          </td>  
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <br><div class="full_break" id="search_results">
    <img src="/static/images/border4.png"><img src="/static/images/border4.png"><img src="/static/images/border4.png">
  </div>  
  <br>
  <h3 id="semantic_search">Semantic Search</h3>
  <form action="{{ url_for('sermon.get_segment_and_notes',tcpID=tcpID,sidx=sidx) }}" method="POST" class="my_button">
    <label for="phrase"><b>Search within the Bible: </b></label>
    <br>
    <textarea id="phrase" name="phrase" rows="2" cols="20">{{segment[0][1]}}</textarea>
    <input type="hidden" id="page" name="page" value="segment">
    <br>
   <label for="loc">Location of phrase: </label>
    <select id="loc" name="loc" REQUIRED>
      {% for v in locations%}
      <option value="{{v}}">{{v}}</option>
      {% endfor %}
    </select>
   <label for="k">Number of desired results: </label>
    <input type="number" name="k" step="1" value="10" style="width: 50px;" REQUIRED>
   <button type="submit" style="border: none; background-color: transparent;"> 
    🔍 
  </button>  
  </form>

  
{% if qp_candidates %}
<br>
<h4><b>Search phrase:</b> &VeryThinSpace; {{phrase}}</h4>
<h5><b>Location in segment:</b> &VeryThinSpace; {{phrase_loc}}</h4>
<br>
<table class='table is-striped' id="sort_sim">
  <thead class="grey_table" >
    <tr>
      <th scope="col">Verse & Version</th>
      <th scope="col">Verse Text</th>
      <th scope="col">Scope of Verse</th>
      <th scope="col">Cosine Similarity</th>
      <th scope="col">Add Reference</th>
    </tr>
  </thead>
  <tbody>
    {% for q in qp_candidates %}
      <tr>
        <td>{{q["verse_id"]}}
          <!-- <br>
            <a href="{{ url_for('sermon.semantic_search_verse_get',verse_id=q.verse_id)}}"><u><b>Search for Verse</b></u></a> -->
        </td>
        <td>{{q["verse_text"]}}</td>
        <td>{{q["scope"]}}</td>
        <td>{{q["score"]}}</td>
        <td>
          <form action="{{ url_for('sermon.add_qp',tcpID=tcpID, sidx=sidx, loc=q.loc, verse_id=q.tcpID)}}" method="POST" >
            <input type="hidden" id="page" name="page" value="segment">
            <input type="hidden" id="phrase" name="phrase">
            <input type="hidden" id="score" name="score">
            <!-- <input type="submit" value="Add as Reference" class="btn-gray"/>  -->
             
            <button type="submit" style="border: none; background-color: transparent;">
              ➕
          </button>
          </form>    
        </td>  
      </tr>
    {% endfor %}
  </tbody>
</table>
<br>
{% endif %}
</div>

</div>

{% endblock %}
