{% extends "base2.html" %}

{% block content %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script>
  (function () {
	window.onpageshow = function(event) {
		if (event.persisted) {
			window.location.reload();
		}
	};
})();

  $(document).ready(function(){
    new DataTable($('#sort_sidx'), {
      order: [[0, 'asc']],
    });
    new DataTable($('#sort_sidx2'), {
      order: [[0, 'asc']],
      pageLength:5
    });
    new DataTable($('#sort_qp'), {
      order: [[0, 'asc'],[5, 'desc']],
      pageLength:5
    });
  })

</script>

<br>

<div class="site_body">
  <h2><i>{{metadata[0].title}}</i></h2>
  <h5>
    {% for aut in unique_aut %}
    <a href="{{ url_for('author.find_author_references',author=aut[0])}}"><u>{{aut[0]}}</u></a>
    <br>
    {% endfor %}
  </h5>
  <h6><b>Publisher:</b> {{metadata[0].publisher}}</h6>
  <h6><b>Place of Publication:</b> {{metadata[0].pubplace}}</h6>
  <h6><b>Publication Year:</b> {{metadata[0].pubyear}}</h6>
  <h6><b>TCP ID:</b> <a href="{{metadata[0].phase}}"><u>{{metadata[0].tcpID}}</u></a> <b>ESTC ID:</b> {{metadata[0].estc}} <b>STC ID:</b> {{metadata[0].stc}}</h6>
  <h6><b>Subject Headings:</b> {{metadata[0].subject_headings}}</h6>
  <h6>   
     <a href="{{ url_for('sermon.full_text',tcpID=metadata[0].tcpID) }}"><u>View the Full Text of Relevant Sections</u></a>
      <!-- <a href="{{ url_for('sermon.get_citations',tcpID=metadata[0].tcpID) }}"><u>View All References</u></a> -->
  </h6> 
  <br>
  <h5>Likeliest Bible Version: {{biblever}}</h5> 

  
<div class="full_break">
  <img src="/static/images/border4.png"><img src="/static/images/border4.png"><img src="/static/images/border4.png">
</div>  
  <br>

  <h4>Citations
    <div class="info-circle"> i
      <div class="tooltip">
        The index of citation indicates its position within the text of the segment or a particular note of the segment.
          For example, if 'Note 0' (i.e., the first note) of this segment has three citations, the citation with index 0 is its first citation, 
          inclusive of all its parsed components. Each citation unit is a book and chapter. Hence, a phrase 
          'Ro. 1.3-5' in the text counts as a single citation with components "Romans 1.3; Romans 1.4; Romans 1.5."
          If the citation unit is preprocessed, then all of its punctuation besides commas and hyphens have been removed 
          and Roman numerals have been converted to integers.
         </div>
    </div>  
  </h4>
  


  <table class='table is-striped' id="sort_sidx">
    <thead class="grey_table" >
      <tr>
        <th scope="col">Index of Segment</th>
        <th scope="col">Location</th>
        <th scope="col">Index of Citation in Segment</th>
        <th scope="col">Parsed Citation(s)</th>
        <th scope="col">Proximal Paraphrases (either within the same segment or a window of four segments)</th>
        <th scope="col">Phrase</th>
        <th scope="col">Text of Segment and Notes</th>
      </tr>
    </thead>
    <tbody>
      {% for c in citations%}
        <tr>
          <td>{{c.sidx}}</td>
          <td>{{c.loc}}</td>
          <td>{{c.cidx}}</td>
          <td>{{c.citation}}</td>
          <td>
              {{proximal[c.sidx] | safe}}
          </td> 
          <td>{{c.replaced}}</td>
          <td>
            <a href="{{ url_for('sermon.get_segment_and_notes',tcpID=c.tcpID,sidx=c.sidx) }}"><u><b>View</b></u></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="full_break">
    <img src="/static/images/border4.png"><img src="/static/images/border4.png"><img src="/static/images/border4.png">
  </div>  
 
  <br>
  <h3>Quotations or Paraphrases</h3>
  <h6>Scopes: 1 (Complete Segment, Complete Verse), 2 (Complete Segment, Partial Verse), 3 (Partial Verse, Complete Segment), 4 (Partial Segment, Partial Verse)</h6>
  <table class='table is-striped' id="sort_qp">
    <thead class="grey_table" >
      <tr>
        <th scope="col">Index of Phrase</th>
        <th scope="col">Location of Phrase</th>
        <th scope="col">Verse & Version</th>
        <th scope="col">Full Verse Text</th>
        <th scope="col">Phrase(s) of Segment</th>
        <th scope="col">Score(s)</th>
        <th scope="col">Scope(s)</th>
        <th scope="col">Remove Reference</th>
      </tr>
    </thead>
    <tbody>
      {% for q in actual_qp %}
        <tr>
          <td>{{q.sidx}}</td>
          <td>{{q.loc}}
            <br>
            <a href="{{ url_for('sermon.get_segment_and_notes',tcpID=q.tcpID,sidx=q.sidx) }}"><u><b>View Segment, Notes, and References</b></u></a>
          </td>
          <td>{{q.verse_id}}
            <br>
              <a href="{{ url_for('sermon.semantic_search_verse_get',verse_id=q.verse_id) }}"><u><b>Search for Verse</b></u></a>
          </td>
          <td>{{q.verse_text}}</td>
          <td>{{q.phrase | safe}}</td>
          <td>{{q.score | safe}}</td>
          <td>{{q.scope | safe}}</td>
          <td>
            <form action="{{ url_for('sermon.remove_actual_qp',tcpID=q.tcpID, sidx=q.sidx, loc=q.loc,verse_id=q.verse_id)}}" method="POST" >
              <input type="hidden" id="page" name="page" value="segment">
              <input type="submit" value="Remove" class="btn-gray"/> 
             </form>   
          </td>  
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
</div>

</div>

{% endblock %}
