{% extends "base2.html" %}

{% block content %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script>
  $(document).ready(function(){
    new DataTable($('#sort_sidx'), {
      order: [[1, 'asc']],

    });
  })
  $(document).ready(function(){
    // initialize a DataTable sorted by the date column 
    // in reverse chronological order by default. Break ties alphabetically by name. 
    new DataTable($('#sort_sidx2'), {
      order: [[0, 'asc']],

    });
  })
</script>

<br>
<div class="site_body">
    <h2><i>{{metadata.title}}</i></h2>
    <h5>
      {% for aut in unique_aut %}
      <a href="{{ url_for('author.find_author_references',author=aut[0])}}"><u>{{aut[0]}}</u></a>
      <br>
      {% endfor %}
    </h5>
      <h6><b>Publisher:</b> {{metadata.publisher}}</h6>
      <h6><b>Place of Publication:</b> {{metadata.pubplace}}</h6>
      <h6><b>Publication Year:</b> {{metadata.pubyear}}</h6>
      <h6><b>TCP ID:</b> {{metadata.tcpID}} <b>ESTC ID:</b> {{metadata.estc}} <b>STC ID:</b> {{metadata.stc}}</h6>
      <h6><b>Subject Headings:</b> {{metadata.subject_headings}}</h6>
      <h6>   
        <!-- <a href="{{ url_for('sermon.full_text',tcpID=metadata.tcpID) }}"><u>View Full Text</u></a> -->
        <a href="{{ url_for('sermon.get_citations',tcpID=metadata.tcpID) }}"><u>View All References</u></a>
       </h6>
       <div class="full_break">
        <img src="/static/images/border4.png"><img src="/static/images/border4.png"><img src="/static/images/border4.png">
      </div>  <br>
  <h4>Full Text</h4>
  <table class='table is-striped' id='sort_sidx'>
    <thead class="grey_table" >
      <tr>
        <th scope="col">Text (tokenized)</th>
        <th scope="col">Index of Segment</th>
        <th scope="col">Index of Sermon</th>
        <th scope="col">Index of Paragraph</th>
        <th scope="col">Page or Reference Image Number</th>
        <th scope="col">References</th>
      </tr>
    </thead>
    <tbody>
    {% for s in segments %}
        <tr>
            <td>{{s.tokens}}</td> 
            <td>{{s.sidx}}</td>
            <td>{{s.section}}</td>
            <td>{{s.pidx}}</td>
            <td>{{s.loc_type.lower().capitalize()}} {{s.loc}}</td>
            <td>
                <a href="{{ url_for('sermon.get_segment_and_notes',tcpID=s.tcpID,sidx=s.sidx) }}"><u><b>View</b></u></a>
              </td>
         </tr>
    {% endfor %}
    </tbody>
  </table>
  <div class="full_break">
    <img src="/static/images/border4.png"><img src="/static/images/border4.png"><img src="/static/images/border4.png">
  </div>  <br>
  <h4><i>Marginalia</i></h4>
    <table class='table is-striped' id="sort_sidx2" >
        <thead class="grey_table">
        <tr>
            <th scope="col">Index of Segment</th>
            <th scope="col">Index of Note</th>
            <th scope="col">Text (tokenized)</th>
            <th scope="col">Full Segment and References</th>
        </tr>
        </thead>
        <tbody >
        {% for n in notes %}
            <tr>
                <td>{{n.sidx}}
                </td>
                <td>{{n.nidx}}</td>
                <td>{{n.tokens}}</td> 
                <td>
                  <a href="{{ url_for('sermon.get_segment_and_notes',tcpID=n.tcpID,sidx=n.sidx) }}"><u><b>View</b></u></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

</div>

{% endblock %}
